package ${package.ServiceImpl};

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import com.baomidou.mybatisplus.core.metadata.IPage;

import ${package.Entity}.${entity};
import ${package.Mapper}.${table.mapperName};
import ${package.Service}.${table.serviceName};

import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;

/**
 * $!{table.comment} 服务实现类
 *
 * @author ${author}
 * @since ${date}
 */
@Service
#set ($entityName=$entity.substring(0,1).toLowerCase()+$entity.substring(1))
#set ($mapperName=$table.mapperName.substring(0,1).toLowerCase()+$table.mapperName.substring(1))
#if(${kotlin})
open class ${table.serviceImplName} : ${superServiceImplClass}<${table.mapperName}, ${entity}>(), ${table.serviceName} {

}
#else
public class ${table.serviceImplName} extends ${superServiceImplClass}<${table.mapperName}, ${entity}> implements ${table.serviceName} {
    @Autowired
    private ${table.mapperName} ${mapperName};

    @Override
    public IPage<${entity}> page(Page<${entity}> page, ${entity} ${entityName}) {
        QueryWrapper<${entity}> queryWrapper = new QueryWrapper<>(${entityName});
        return ${mapperName}.selectPage(page, queryWrapper);
    }
}
#end